*,
*::after,
*::before {
  box-sizing: border-box;
}

.slider {
  margin: 1rem 0 0 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.slider__item {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
